nltk==3.5
numpy==1.18.5
pandas==1.0.4
spacy==2.3.0
tb-nightly==2.4.0a20200930
tensorboard==2.2.2
tensorboard-plugin-wit==1.6.0.post3
tensorflow-datasets==3.1.0
tensorflow-estimator==2.2.0
tensorflow-gpu==2.2.0
tensorflow-gpu-estimator==2.2.0
tensorflow-hub==0.8.0
tensorflow-metadata==0.22.2
tf-estimator-nightly==2.4.0.dev2020093001
tfds-nightly==3.1.0.dev202006250105
